<?php /** @var $block \BenJ\RandomGif\Block\Success */ ?>
<?php if ($randomGif = $block->getRandomGif()) : ?>
    <div>
        <p style="font-size:20px;font-weight:bold;">You also get a FREE gif. Don't say we never give you anything.</p>
        <img src="<?= $randomGif->getRandomGifUrl() ?>" alt="">
    </div>
<?php endif ?>